/* --------------------
	selectfrom.less
----------------------- */

.input-group-btn .btn {
	border-radius: 0;
	padding-left: 6px;
	padding-right: 7px;
	border: 1px solid #99C;
		.glyphicon {
		line-height: inherit;
	}
}

.input-group input.select-from-target[disabled] {
	background-color: #f8f8fc;
}

.form-group { 
	label {
		padding-left: 0;
		padding-right: 0;
	}
}

.select-from-wrapper {
	width: 100%;
	display:inline-block; position:relative;
}
.select-from-overlay {
	position:absolute; left:0; right:0; top:0; bottom:0;
	z-index: 100;
	cursor: pointer;
}

.select-from-dialog {
	display: none;
}

.ui-dialog {
	.glyphicon {
		font-size: 10px;
	}
	button {
		color: buttontext;
	}
}

.tree ul {
	padding-left:12px;
}

.select-from-reload {
	color: #339;
	cursor:  pointer;
}

.select-from-return {
	color: #373;
	cursor:  pointer;
}

.select-from-block .disabled {
	color: #999;
}

.select-from-block .select-from-current {
	color: #833;
}

button.input-sm > .glyphicon {
	line-height: normal;
	font-size: 10px;
	top:-1px;
}
